<footer class="text-center text-lg-start bg-light text-muted fixed-bottom">
    <div class="footer-copyright text-center py-3">
        &Copy;2020 all rights reserved
        <a href="http://localhost:8000">Deliver</a>
        <a class="ml-3" href="{% url 'dashboard' %}">Restaurant Login</a>
    </div>
</footer>